.shorten
  %form{action: '/shorten', method: 'post', class: 'form-inline'}
    %input{type: 'text', name: 'url', placeholder: "URL", class: 'input-xxlarge'}
    %p.submit_button
      %input{type: 'submit', value: 'Cut it down!', class: 'btn btn-success btn-large'}
